@import "imports/fonts.less";
@import "imports/_settings";
@import "imports/_mixins";
@import "imports/fonts.less";
@import "imports/variables.less";

/* page-header
================================== */

.page-header{
	padding-top: 43px; 
	.logo{
		position: relative;
		left: 10px;
		width: 403px;
		height: 175px;
		margin: 0 auto;
		margin-bottom: 7px;
		text-align: center;
		overflow: hidden;
		transition: all 1s;
	}
	.logo:hover a:first-child{
		display: none;
	}
	.menu{
		margin-bottom: 19px;
		max-width: 754px;
		font-size: 0;
		border: 1px solid @borderColor;
		border-bottom: 3px solid @borderBlue;
		li{
			.inline-block;
			border-right: 1px solid @borderColor;
		}
		li:last-of-type{
			width: 133px;
			border-right: none;
		}
		a{	
			display: block;
			padding: 0 29px;
			height: 33px;
			line-height: 33px;
			font-size: @regular + 2;
			color: @menuColor;
			background: @white;
			transition: all .1s ease-in;
		}
		a:hover{
			background: darken(@white, 5%);
		}
	}
}
.content{
	&-slider{
		width: 100%;
		margin-bottom: 23px;
	}
	&-text{
		display: flex;
		justify-content: space-between;
		h2{
			margin-bottom: 18px;
			font-family: @times;
			font-size: @regular + 12px;
		}	
	}
	.text-item{
		padding: 30px;
		background: @white;
	}
	&-left{
		width: 419px;
	}
	&-right{
		width: 208px;
		color: #333;
	}
	p{
		margin-bottom: 20px;
	}
}
.page-footer{
	padding-top: 18px;
	p{
		height: 67px;
		line-height: 18px;
		color: @menuColor;
		opacity: .5;
	}
}